---
http_interactions:
- request:
    method: get
    uri: http://www.bbc.co.uk/radio2/programmes/schedules/2011/5/18.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pal-Host:
      - pal025.back.live.cwwtf.local:80
      X-Aps-Deprecation-Notice:
      - 'APS is soon to be deprecated. It will first of all cease to be supported
        on a 24/7 basis, and will then cease responding entirely. Nitro is the BBC''s
        new API for programme data, and can provide all the information previously
        provided by APS. Go here to read more: http://developer.bbc.co.uk/nitro'
    body:
      encoding: UTF-8
      string: '{"schedule":{"service":{"type":"radio","key":"radio2","title":"BBC
        Radio 2"},"day":{"date":"2011-05-18","has_next":1,"has_previous":1,"broadcasts":[{"is_repeat":false,"is_blanked":false,"pid":"p00gv0hg","start":"2011-05-18T00:00:00+01:00","end":"2011-05-18T02:00:00+01:00","duration":7200,"programme":{"type":"episode","pid":"b01131qx","position":null,"title":"18/05/2011","short_synopsis":"Top
        chat, great music and the best live sessions.","media_type":"audio","duration":7200,"image":{"pid":"p01lccq1"},"display_titles":{"title":"Janice
        Long","subtitle":"18/05/2011"},"first_broadcast_date":"2011-05-18T00:00:00+01:00","ownership":{"service":{"type":"radio","id":"bbc_radio_two","key":"radio2","title":"BBC
        Radio 2"}},"programme":{"type":"brand","pid":"b006wr0n","title":"Janice Long","position":null,"image":{"pid":"p01lccq1"},"expected_child_count":null,"first_broadcast_date":"2007-09-17T00:00:00+01:00","ownership":{"service":{"type":"radio","id":"bbc_radio_two","key":"radio2","title":"BBC
        Radio 2"}}},"is_available_mediaset_pc_sd":false,"is_legacy_media":false}},{"is_repeat":false,"is_blanked":false,"pid":"p00gv0hj","start":"2011-05-18T02:00:00+01:00","end":"2011-05-18T05:00:00+01:00","duration":10800,"programme":{"type":"episode","pid":"b01131qz","position":null,"title":"18/05/2011","short_synopsis":"The
        show for night owls and those who just enjoy laughing and hearing fantastic
        music.","media_type":"audio","duration":10800,"image":{"pid":"p01p3s4s"},"display_titles":{"title":"Alex
        Lester","subtitle":"18/05/2011"},"first[...]
